<%= form_for @propiedad, htlml: { multipart: true } do |f| %>
  <p>
    <%= f.label :Titulo %><br>
    <%= f.text_field :Titulo %>
  </p>

  <p>
    <%= f.label :Precio %><br>
    <%= f.text_field :Titulo %>
  </p>

  <p>
    <%= f.label "Descripcion" %><br>
    <%= f.text_area :Texto %>
  </p>

  <%= f.label :image %>
  <%= f.file_field :image %>
 
  <p>
     <%= link_to "Subir Propiedad", perfils_index_path %>
  </p>
<% end %>